# compiled output
dist/
tmp/

# dependencies
node_modules/

# IDEs and editors
.idea/

# System Files
.DS_Store

#Archives
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
